<div class="flex flex-col bg-[#ecf0f1] dark:bg-neutral-700">
    <sidebar />
    <container title="Acerca de Mi" [isSidebarOpened]="isSidebarOpened()" id="aboutme">
        <app-about-me />
    </container>
    <container title="Experiencia Profesional" [isSidebarOpened]="isSidebarOpened()" id="experience">
        <app-experience />
    </container>
    <container title="Proyectos Personales" [isSidebarOpened]="isSidebarOpened()" id="projects">
        <app-projects />
    </container>
    <container title="Formación" [isSidebarOpened]="isSidebarOpened()" id="academicinformation">
        <app-academic-information />
    </container>
</div>