<div class="flex flex-col bg-[#ecf0f1] dark:bg-neutral-700">
    <sidebar />
    <container type="block" title="Acerca de Mi" id="aboutme">
        <app-about-me />
    </container>
    <container type="list" title="Experiencia" id="experience">
        <app-experience />
    </container>
    <container type="block" title="Proyectos" id="projects">
        <app-projects />
    </container>
    <container type="block" title="Pipelines" id="pipelines">
        <app-pipelines />
    </container>
    <container type="list" title="Formación" id="formation">
        <app-formation />
    </container>
    <container type="list" title="Certificaciones" id="certifications">
        <app-certification />
    </container>
</div>