<div class="border-e border-[#ecf0f1] h-full dark:border-neutral-700">
  <nav class="flex flex-col space-y-2">
    @for (item of items(); track $index) {
      <button
        type="button"
        (click)="tabnavService.setActive($index + 1)"
        role="tab"
        [attr.aria-selected]="tabnavService.selectedIndex() === $index + 1"
        class="py-1 pe-4 inline-flex items-center gap-x-2 border-e-2 text-sm whitespace-nowrap focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        
        [class.active-tab]="tabnavService.selectedIndex()  === $index + 1"
        [class.inactive-tab]="tabnavService.selectedIndex() !== $index + 1"
      >
        {{ item }}
      </button>
    }
  </nav>
</div>