@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.active-tab {
  @apply border-blue-500 text-blue-600 dark:text-blue-500;
}

.inactive-tab {
  @apply border-transparent text-gray-500 hover:text-blue-600 dark:text-neutral-400 dark:hover:text-blue-500;
}